* @koncepcja77

# grupa 1 
/mapa-dorobku-ludzkosci/src/layout_1/ @Jaca2706 @sigmoza32 @gabiwiecz

# grupa 2
/mapa-dorobku-ludzkosci/src/layout_2/ @Monday007 @Wojciech_T

# grupa 3 
/mapa-dorobku-ludzkosci/src/layout_3/ @julekr07 @piszczelJ @HBilboo

# grupa 4
/mapa-dorobku-ludzkosci/src/layout_4/ @Bartekszuk32 @Lkuaa @Mateusz42-xd